@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ffffff;
  
  /* Custom Colors */
  --color-rayls-black: #050505;
  --color-rayls-charcoal: #1A1A1A;
  --color-rayls-dark: #121212;
  --color-rayls-lime: #D9F94F;
  --color-rayls-purple: #9D8CFC;
  --color-rayls-grey: #A1A1AA;
  --color-rayls-border: #27272A;
  --color-rayls-hover: #18181B;
  --color-rayls-input: #27272A;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

  :root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background-color: var(--color-rayls-black);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

/* Force cursor pointer on interactive elements */
button, a {
  cursor: pointer;
}

/* Scrollbar styling for that "terminal" feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #27272A;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A1A1AA;
}
